---
import Basket from "@/components/Basket";
import Header from "@/components/Header";
import { Toaster } from "@/components/ui/toaster";
import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Grocery Monitor</title>
	</head>
	<body>
		<Header client:load />
		<Basket client:load />
		<Toaster client:load />
	</body>
</html>
